// Author: Edgar Montes
// Department of Innovation Technology
// Organization: City of Detroit
// =================== imports ==================
@import "neighborhoods-styles-0.1.scss";
/*================== variables =================*/
$detroit-color-1-light: lighten($detroit-color-1,50%);
$top-bar-color: none;
$top-bar-font-color: #fff;
$top-bar-height: 8vh;
$top-bar-top-spacing: 1em;
$content-height: 100vh;
$neighborhood-info-height: 80vh;
$width-break-point-1: 800;
$width-break-point-2: 1024px;
$width-break-point-3: 1224px;
$width-break-point-4: 1680px;
// ==================== tags ====================
main{
	overflow-y: scroll;
}
/*======================= top ==================*/
#top{
	position: relative;
}
#back-top{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 5;
}
#logo{
	background: $detroit-color-1;
	@extend .flex-container;
	max-width: 8em;
}
#logo > img{
	max-height: $top-bar-height;
}
#logo-3{
  max-width: 30em;
}
#logo-3 > img{
	max-height: 8vh;
}
#search{
  flex: 1;
}
::-webkit-input-placeholder { /* Chrome */
  color: $detroit-color-1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $detroit-color-1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $detroit-color-1;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $detroit-color-1;
  opacity: 1;
}
#address-search{
  text-align: right;
  background-color: transparent;
  color: $detroit-color-1;
  border-bottom: 1px solid $detroit-color-1;
  height: 6vh;
  padding-top: 4vh;
}
#address-search:focus{
  outline: none;
  -webkit-animation: input-line 0.3s ease forwards;
}
#search-btn{
  background-color: transparent;
}
#search-btn > span{
  top: .25em;
  margin: 0;
}
@-webkit-keyframes input-line {
0%, 50% {width: 0%}
100% { width: 100%}
}
#site-title{
	color: $top-bar-font-color;
	background: $detroit-color-1;
	@extend .flex-container;
	height: $top-bar-height;
	padding: 0 1em 0 0;
	max-width: 15em;
	margin: 0;
}
#site-title > h3{
	font-size: 2.5vh;
	@extend .center-center-innercontent;
}
#site-title > h3 > span{
	@extend .font-minus-40-percent;
}
.top-nav-item{
	@extend .flex-container;
	cursor: pointer;
	font-size: 2em;
	color: #000;
}
.top-nav-item:hover{
	background: $detroit-color-1;
	color: $top-bar-font-color;
}
.top-nav-item > span{
	margin: auto;
	padding: 1em;
	font-size: 1.25vh;
}
#spacing-title-search{
	flex: 1;
}
#navigation{
	width: $top-bar-height;
	height: $top-bar-height;
	background: #fff;
	margin-right: 2em;
}
// ==================== Content =======================
#content{
	padding: 0 2em;
}
.content-row{
	@extend .full-width-flex-container;
	@extend .flex-stretch-content;
	@extend .flex-conteiner-wrap;
	margin-bottom: 0;
}
.section-headers{
	background: $detroit-color-1;
	color: $top-bar-font-color;
	padding: 1em .5em;
}
.content-row > .four-squares-section{
	background: $detroit-color-1;
	color: $top-bar-font-color;
}
@media all and (max-width: 799px) {
	.content-row > .left-content{
		width: 100%;
		margin-bottom: 1em;
	}
	.content-row > .four-squares-section{
		width: 100%;
		margin-bottom: 1em;
	}
}
@media all and (min-width: 800px) {
	.content-row > .left-content{
		width: calc(100% - 35em);
		padding-right: 1em;
	}
	.content-row > .four-squares-section{
		width: 35em;
	}
}
// ====================== description ============================
.description-section > .description-images{
	margin-bottom: 1em;
}
.description-section > .description-images > a > img:first-child, .description-section > .description-images > img:first-child{
	max-width: 100%;
}
.description-section > .description-images > img:nth-child(2), .description-section > .description-images > img:nth-child(3){
	display: none;
}
@media all and (min-width: $width-break-point-2) {
	.description-section > .description-images > img:first-child, .description-section > .description-images > a > img:first-child, .description-section > .description-images > img:nth-child(2){
		width: 49%;
		display: inline;
	}
}
@media all and (min-width: $width-break-point-4) {
	.description-section > .description-images > img:first-child, .description-section > .description-images > a > img:first-child, .description-section > .description-images > img:nth-child(2), .description-section > .description-images > img:nth-child(3){
		width: 33%;
		display: inline;
	}
}
.description-section > .description-text{
	clear: both;
	display: block;
	font-size: 1.5em;
}
.near-neighborhoods, .neighborhood-districts{
	font-size: 1.5em;
	margin-top: 1em;
}
.four-squares-section > .single-block, .four-squares-section > .pair{
	@extend .flex-container;
	@extend .flex-conteiner-wrap;
	margin: auto;
}
.four-squares-section > .pair.first-pair{
	border-bottom: 1px solid #e7e7e7;
}
.four-squares-section > .pair.first-pair > .square-item:first-child{
	border-right: 1px solid #e7e7e7;
}
.four-squares-section > .pair.second-pair > .square-item:first-child{
	border-right: 1px solid #e7e7e7;
}
.four-squares-section > .single-block > .square-item{
	padding: 2em;
	margin: auto;
	width: 100%;
	max-width: 800px;
}
.four-squares-section > .pair > .square-item{
	padding: 2em;
	margin: auto;
	text-align: center;
	width: 50%;
}
.four-squares-section > .pair > .square-item > img{
	float: none;
	margin: 0;
	width: 8em;
}
.four-squares-section > .pair > .square-item > h5{
	clear: both;
}
.four-squares-section > .pair > .square-item > span{
	font-size: 2.5em;
}
// ================== profiles ==============================
.profile-container{
	@extend .flex-container;
	@extend .flex-conteiner-wrap;
	width: 100%;
}
.profile-container > .profile-item{
	width: 100%;
}
@media all and (min-width: $width-break-point-2){
	.profile-container > .profile-item{
		width: calc((100% - 2em)/2);
	}
	.profile-item:first-child{
		margin-right: 2em;
	}
}
// @media all and (min-width: $width-break-point-3) {
// 	.profile-container > .profile-item{
// 		width: calc((100% - 6em)/3);
// 	}
// }
// @media all and (min-width: $width-break-point-4) {
// 	.profile-container > .profile-item{
// 		width: calc((100% - 8em)/4);
// 	}
// }
.profile-item{
	margin-bottom: 2em;
	@extend .flex-container;
	@extend .flex-conteiner-wrap;
}
.profile-item > .district-neighborhoods-list{
	width: 100%;
	font-size: 1.5em;
	list-style-type: none;
	padding: 0;
}
.profile-item > .district-neighborhoods-list > li{
	padding: .5em 1em;
	border: 1px solid $detroit-color-1;
}
.profile-item > .district-neighborhoods-list > li > a:hover{
	font-weight: bold;
}
.profile-item > .district-neighborhoods-list > li:not(:last-child){
	border-bottom: none;
}
.profile-item > .district-neighborhoods-list > li > a, .profile-item > ul > li > a:hover, .profile-item > ul > li > a:visited{
	text-decoration: none;
	color: $detroit-color-1;
}
.profile-item > .district-neighborhoods-list > li > a > img{
	width: 3em;
}
.profile-item > .personal-facts{
	font-size: 1.25em;
}
.profile-item > .person-info{
	position: relative;
	width: 17em;
}
.profile-item > .person-info > img{
	width: 8em;
	border-radius: 50%;
	float: none;
	border: 4px solid $detroit-color-1;
}
.profile-item > .person-info > p{
	font-size: 2em;
	position: absolute;
	top: 0;
	left: 5em;
	background: $detroit-color-1;
	color: $top-bar-font-color;
	margin: 0 !important;
	padding: .2em .5em;
}
.profile-item > .person-info > .triangle{
	position: absolute;
	top: 1.25em;
	left: 8em;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2em 2em 2em 0;
	border-color: transparent $detroit-color-1 transparent transparent;
}
.profile-item > .person-info > p > .person-neighborhood{
	@extend .font-minus-40-percent;
	position: relative;
	top: -1em;
}
.profile-item > .person-story{
	margin-top: .5em;
	font-size: 1.5em;
	width: 100%;
}
// ================= associations ===========================
.associations-clubs-container{
	@extend .flex-container;
	@extend .flex-conteiner-wrap;
}
.associations-clubs-container > .association-club-item{
	font-size: 1.5em;
	padding-right: 2em;
	padding-bottom: 2em;
}
.association-club-item-social-media{
	@extend .flex-container;
}
.association-club-item-social-media > a > img{
	width: 3em;
}
// ======================= events =====================
@media all and (max-width: 1299px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		width: 100%;
	}
	.event-container{
		width: 100%;
	}
	.dogs-detroit{
		width: 100%;
	}
}
@media all and (min-width: 1300px) {
	.event-container{
		flex: 1;
		max-width: 70%;
	}
	.dogs-detroit{
		flex: 1;
		padding-right: 1em;
		margin-bottom: 1em;
	}
}
.event-container > .event-list{
	@extend .flex-container;
	@extend .flex-center-justify-items;
}
.event-list > .event-item{
	margin-right: 2em;
	width: 35em;
}
.event-list > .event-item > .event-banner{
	width: 100%;
	height: 20em;
	overflow: hidden;
}
.event-list > .event-item > .event-banner > img{
	max-width: 100%;
}
.event-item > .event-details{
	@extend .flex-container;
}
.event-details > .event-date{
	padding-right: .5em;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}
.event-details > .event-date > span{
	position: relative;
}
.event-date > span.event-month{
	@extend .font-minus-50-percent;
	top: -1.5em;
}
.event-date > span.event-year{
	@extend .font-minus-55-percent;
	top: -3.5em;
}
.event-description{
	padding-top: 1em;
}
.event-description > .event-name{
	cursor: pointer;
	color: $detroit-color-1;
	font-size: 2em;
	font-weight: bold;
}
.event-description > .event-text{
	font-size: 1.5em;
}
@media all and (max-width: 799px) {
	.event-list > .event-item{
		width: 100%;
	}
	.event-container > .event-list{
		flex-wrap: wrap;
	}
}
// ================= stories =====================
.stories-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2em;
}
.story-info > .story-author{
	margin-right: .5em;
}
.story-info > .story-date{
	margin-left: .5em;
}
@media all and (max-width: 1449px) {
	.story-item{
		width: 100%;
		display: flex;
		position: relative;
		margin-bottom: .5em;
	}
	.story-item > .img-container{
		width: 100%;
		height: 100%;
	}
	.story-item > .img-container > img{
		width: 100%;
	}
	.story-item > .story-preview{
		width: calc(100% - .25em);
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.7);
		color: $top-bar-font-color;
		padding: 1em;
	}
	.story-preview > .story-title{
		font-weight: bold;
		font-size: 1.75em;
	}
	.story-preview > .story-summary{
		font-size: 1.5em;
	}
}
@media all and (min-width: 1450px) and (max-width: 1699px){
	.story-item{
		width: 50%;
		display: flex;
		position: relative;
	}
	.stories-container > .story-item:first-child{
		padding-right: .25em;
	}
	.stories-container > .story-item:last-child{
		padding-left: .25em;
	}
	.story-item > .img-container{
		width: 100%;
		height: 100%;
	}
	.story-item > .img-container > img{
		width: 100%;
	}
	.story-item > .story-preview{
		width: calc(100% - .25em);
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.7);
		color: $top-bar-font-color;
		padding: 1em;
	}
	.story-preview > .story-title{
		font-weight: bold;
		font-size: 1.75em;
	}
	.story-preview > .story-summary{
		font-size: 1.5em;
	}
}
@media all and (min-width: 1700px) {
	.story-item{
		width: 50%;
		display: flex;
		position: relative;
	}
	.story-item > .img-container{
		width: 50%;
	}
	.story-item > .img-container > img{
		width: 100%;
	}
	.story-item > .story-preview{
		flex: 1;
		padding: 0 1em;
	}
	.story-preview > .story-title{
		font-weight: bold;
		font-size: 1.75em;
	}
	.story-preview > .story-summary{
		font-size: 1.5em;
	}
}
.more-stories-btn{
	cursor: pointer;
	text-align: center;
	width: 8em;
	font:{
		size: 1.5em;
		weight: bold;
	}
	padding: .5em;
	border: .2em solid $detroit-color-1;
	transition: all .2s ease-in-out;
}
.more-stories-btn:hover{
	color: $top-bar-font-color;
	background-color: $detroit-color-1;
	transition: all .2s ease-in-out;
}
// ================ resources section ================
.resources-section{
	margin-bottom: 1em;
}
.resources-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.resources-container > a{
	width: 20%;
}
.resource-item{
	width: 100%;
	cursor: pointer;
	position: relative;
}
.resource-item > .img-container{
	width: 100%;
	height: 100%;
}
.resource-item > .img-container > img{
	width: 100%;
}
.resource-item > .text-content{
	position: absolute;
	background-color: $detroit-color-1;
	width: 100%;
	height: 100%;
	display: flex;
	top: 0;
	left: 0;
	transition: all .2s ease-in-out;
}
.resource-item:hover > .text-content{
	background-color: rgba(0,0,0,.6);
	transition: all .2s ease-in-out;
}
.resource-item > .text-content > div{
	margin: auto;
	color: $top-bar-font-color;
	padding: 2em;
}
.resource-item > .text-content > div > p{
	font-size: 2em;
}
.resource-item > .text-content > div > h5{
	font-size: 2.5em;
	font-weight: bold;
}
@media all and (max-width: 1119px) {
	.resources-container > a{
		width: 100%;
		text-decoration: none;
	}
	.resource-item{
		width: 100%;
	}
	.resource-item > .img-container{
		display: none;
	}
	.resource-item > .text-content{
		position: relative;
		display: block;
		background-color: $detroit-color-1;
		width: 100%;
		transition: all .2s ease-in-out;
	}
	.resource-item > .text-content > div{
		color: $top-bar-font-color;
		padding: 2em;
	}
}
// =============== resources top header ==========
.top-header-section{
	width: calc(100% + 4em);
	height: 40vh;
	overflow: hidden;
	display: flex;
	position: relative;
	top: 3em;
	left: -2em;
	margin-bottom: 5em;
}
.top-header-section > hr{
	position: absolute;
	border-width: 1em;
	width: 100%;
	bottom: 2em;
}
.top-header-section > .img-container{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.top-header-section > .img-container.buy-home{
	background-image: url('../img/DD_Logo2_Rev.jpg');
}
.top-header-section > .img-container.k-12{
	background-image: url('../img/schools.png');
}
.top-header-section > .img-container.rent{
	background-image: url('../img/buy_rent.jpg');
}
.top-header-section > .business{
	background-image: url('../img/business.jpg');
}
.top-header-section > .work{
	background-image: url('../img/jobs.jpg');
}
.top-header-section > .text-content{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.6);
	color: $top-bar-font-color;
	display: flex;
}
.top-header-section > .text-content > div{
	margin: auto;
}
.top-header-section > .text-content > div > p{
	font-size: 2em;
}
.top-header-section > .text-content > div > h5{
	font-size: 3em;
	font-weight: bold;
}
.top-header-section > .text-phrase{
	border-top-right-radius: 40em;
	border-top-left-radius: 40em;
	position: absolute;
	display: flex;
	height: 8em;
	width: 40em;
	left: calc((100% - 40em)/2);
	bottom: 0;
	background-color: $top-bar-font-color;
	font-size: 1.5em;
}
.top-header-section > .text-phrase > div{
	margin: auto;
	padding: 0 3em;
	text-align: center;
}
// ============== resources sample story =========
.sample-story-section{
	width: 100%;
}
.sample-story-container{
	position: relative;
	width: 100%;
	height: 50vh;
	background: {
		size: cover;
		position: center right;
		repeat: no-repeat;
	}
}
.sample-story-container.buy-home{
	background-image: url('../img/karl_house.jpg');
}
.sample-story-container.k-12{
	background-image: url('../img/sample-story-school.jpg');
}
.sample-story-container.rent{
	background-image: url('../img/sample-story-rent.jpg');
}
.sample-story-container.business{
	background-image: url('../img/sample-story-business.jpg');
}
.sample-story-container.work{
	background-image: url('../img/sample-story-work.jpg');
}
.sample-story-container > .sample-story-text{
	position: absolute;
	background-color: $top-bar-font-color;
	bottom: 0;
	left: 10em;
	display: flex;
	max-width: 40%;
}
.sample-story-container > .sample-story-text > div{
	margin: auto;
	padding: 2em;
}
.sample-story-container > .sample-story-text > div > h5{
	font:{
		weight: bold;
		size: 2em;
	}
}
.sample-story-container > .sample-story-text > div > p{
	font-size: 1.5em;
}
// ============ suggested departments ============
.suggested-department-section{
	width: 100%;
}
.suggested-department-section > .suggested-department-container{
	width: 100%;
	display: flex;
	justify-content: center;
}
.suggested-department-section > .suggested-department-container > a{
	width: 30%;
	margin-right: 2em;
	text-decoration: none;
}
.suggested-department-section > .suggested-department-container > a:last-child{
	margin: 0;
}
.suggested-department-container > a > .department-item{
	width: 100%;
	height: 18em;
	display: flex;
	border: .2em solid $detroit-color-1;
}
.department-item > .img-container{
	display: flex;
	width: 30%;
	border-right: .2em solid $detroit-color-1;
}
.department-item > .img-container > div{
	padding: 1.5em;
	margin: auto;
}
.department-item > .img-container > div > img{
	width: 100%;
}
.department-item > .contact-info{
	flex: 1;
	display: flex;
	transition: all .3s ease-in-out;
}
.suggested-department-container > a > .department-item:hover > .contact-info{
	background-color: $detroit-color-1;
	transition: all .3s ease-in-out;
}
.suggested-department-container > a > .department-item:hover > .contact-info > div{
	color: $top-bar-font-color;
	transition: all .3s ease-in-out;
}
.department-item > .contact-info > div{
	padding: 1.5em;
	margin: auto;
	color: $detroit-color-1;
	transition: all .3s ease-in-out;
}
.department-item > .contact-info > div > h5{
	font:{
		size: 2em;
		weight: bold;
	}
}
.department-item > .contact-info > div > p{
	font-size: 1.5em;
}
// ================ photo gallery fixes ==========
.carousel-caption{
	width: 100%;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
}
.carousel-indicators{
	bottom: 0;
}
.carousel-caption > p{
	font-size: 1.5em;
}
// ================ footer =======================
footer{
  padding: 2em;
  font-size: 1.25em;
  color: $top-bar-font-color;
  background: $detroit-color-1;
  width: calc(100% + 4em);
	margin-left: -2em;
}
#footer-container{
  @extend .flex-container;
}
.footer-section-item{
  flex: 1;
  padding: 1em;
}
.footer-section-item > .section-title{
  font-weight: bold;
}
.footer-section-item > ul{
  list-style-type: none;
  padding-top: 1em;
  padding-left: 0;
}
.footer-section-item > ul > li{
  margin-bottom: .5em;
}
.footer-section-item > ul > li > a, .footer-section-item > ul > li > a:hover, .footer-section-item > ul > li > a:visited{
  color: $top-bar-font-color;
}
#footer-container > a > .logo{
  max-width: 10em;
}
#footer-container > a >.logo > img{
  max-width: 100%;
}
/*=================== modules ===================*/
.full-width-flex-container{
	width: 100%;
}
.event-container > .event-list{
	@extend .flex-container;
	@extend .flex-center-justify-items;
}
.event-list > .event-item{
	margin-right: 2em;
	width: 35em;
}
.event-list > .event-item > .event-banner{
	width: 100%;
	height: 20em;
	overflow: hidden;
}
.event-list > .event-item > .event-banner > img{
	max-width: 100%;
}
.event-item > .event-details{
	@extend .flex-container;
}
.event-details > .event-date{
	padding-right: .5em;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}
.event-details > .event-date > span{
	position: relative;
}
/*=================== surgical ==================*/
.order1{
	order: 1;
}
.order2{
	order: 2;
}
.order3{
	order: 3;
}
.order4{
	order: 4;
}
.order5{
	order: 5;
}
.order6{
	order: 6;
}
.center-center-innercontent{
	margin: auto;
}
.font-minus-75-percent{
	font-size: 25%;
}
.font-minus-65-percent{
	font-size: 35%;
}
.font-minus-60-percent{
	font-size: 40%;
}
.font-minus-55-percent{
	font-size: 45%;
}
.font-minus-50-percent{
	font-size: 50%;
}
.event-date > span.event-month{
	@extend .font-minus-50-percent;
	top: -1.5em;
}
.event-date > span.event-year{
	@extend .font-minus-55-percent;
	top: -3.5em;
}
.event-description{
	padding-top: 1em;
}
.event-description > .event-name{
	cursor: pointer;
	color: $detroit-color-1;
	font-size: 2em;
	font-weight: bold;
}
.event-description > .event-text{
	font-size: 1.5em;
}
